<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p> Join us on </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="#"><i class="fa fa-vimeo-square"></i></a>
      </div>
    </div>
  </div>
</div>
