<div class="banner text-center">
    <h1>WELCOME HOME</h1>
    <h3>Rent unique places to stay from local hosts in 190+ countries.</h3>

  <div id=visitor-search>
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Search by city, address, landmark...">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="text" class="form-control" id="datetimepicker1" placeholder="Check in">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="text" class="form-control" id="datetimepicker1" placeholder="Check out">
         <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="text" class="form-control" id="datetimepicker1" placeholder="1 Guest">
        <button type="submit" class="btn btn-danger">Search</button>
      </div>
    </form>
  </div>
</div>

<div id="flat-examples" class= "text-center">
  <h2>Just for the weekend</h2>
  <h3>Discover new, inspiring places close to home.</h3>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="http://placehold.it/350x200" class="home-examples">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="http://placehold.it/350x200" class="home-examples">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="http://placehold.it/350x200" class="home-examples">
      </div>
    </div>
  </div>
</div>



